body {
	background: #131625;
	color: #e1e1e1;
}

.playlists {
	margin-top: 60px;
}

.playlists.selected {
	background-color: rgba(255,255,255, 0.1);
}

.playlists.no-selected:hover {
	background-color: rgba(255,255,255, 0.1);
}

.playlists li {
	border: 1px solid transparent;
}

.selected .playlists li.current {
	color: yellow;
	border: 1px solid yellow;
}

.playlists .selected li:hover {
	border: 1px solid yellow;
}
